.edit-form {
    background-color: var(--accentlight);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px 20px;
    padding:20px;
    border-radius: 10px;
}
.edit-form > * {
    font-size: var(--m);
}
.edit-form .field{
    display: flex;
    flex-direction: column;
}
.edit-form label{
    font-weight: 600;
}
.edit-form label span{
    color: var(--danger);
    margin-left: 5px;
}

.edit-form .field input{
    font-size:var(--s);
    border: none;
    height: 50px;
    margin-top:10px;
    border-radius: 5px;
    padding-left: 10px;
}

.edit-form .field input:focus{
    outline: none;
    border: 2px solid var(--accent);
    
}

.edit-form .save-edit {
    font-size: var(--s);
    width: max-content;
    height: 45px;
    background-color: var(--success);
    color: var(--secondary);
    grid-column: 1/3;

}

.edit-form .field input.red-border{
    border:2px solid var(--danger)
}